@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Chrome/Safari/Edge */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f; 
}
::-webkit-scrollbar-thumb {
  background: #3b0764; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C5A059; 
}